// Include Functions first
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Customize Bootstrap variables
$enable-gradients: true;
$enable-shadows: true;

// Create your own map
$custom-colors: (
  "fondo": #eae0d5,
  "negro": #0a0908,
  "azul": #22333b,
  "cafe_cla": #c6ac8f,
  "cafe_obs": #5e503f,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Include Bootstrap API
//@import "../node_modules/bootstrap/scss/utilities/api";

// Include Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Customaize Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

/* --> Custom Buttons <-- */
.btnPila {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: var(--bs-cafe_cla);
  color: var(--bs-azul);
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
}

.btnPila:hover {
  border-radius: 7px;
  transform: translateX(-5px) translateY(-10px);
  box-shadow: 0 7px 0 -2px var(--bs-fondo), 0 15px 0 -4px #4cf1c8,
    0 16px 10px -3px #39db7c;
}

.btnPila:active {
  border-radius: 7px;
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px var(--bs-fondo), 0 8px 0 -4px #4cf1c8,
    0 12px 10px -3px #39db7c;
}

/* From Uiverse.io by gharsh11032000 */
.btnNeon {
  position: relative !important;
  width: 140px;
  height: 40px;
  background-color: var(--bs-azul);
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1;
}

.btnNeon::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 148px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    var(--bs-cafe_cla) 0%,
    var(--bs-cafe_obs) 100%
  );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btnNeon::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -45deg,
    var(--bs-cafe_cla) 0%,
    var(--bs-cafe_obs) 100%
  );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.btnNeon:hover::after {
  filter: blur(30px);
}

.btnNeon:hover::before {
  transform: rotate(-180deg);
}

.btnNeon:active::before {
  scale: 0.8;
}

/* From Uiverse.io by lenfear23 */
.btnSoft {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(
    to top,
    #22333b 0%,
    #2a3f49 80%,
    #36515d 100%
  );
  border-radius: 30px;
  border: 1px solid #36515d;
  transition: all 0.2s ease;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--bs-cafe_cla);
  text-shadow: 0 1px #22333b;
}

.btnSoft:hover {
  box-shadow: 0 4px 3px 1px #395764, 0 6px 8px #314955, 0 -4px 4px #22333b,
    0 -6px 4px #3d4b51, inset 0 0 3px 3px #22333b;
}

.btnSoft:active {
  box-shadow: 0 4px 3px 1px #395764, 0 6px 8px #314955, 0 -4px 4px #22333b,
    0 -6px 4px #3d4b51, inset 0 0 5px 3px #354c56, inset 0 0 30px #22333b;
}

.btnSoft:focus {
  box-shadow: 0 4px 3px 1px #395764, 0 6px 8px #314955, 0 -4px 4px #22333b,
    0 -6px 4px #3d4b51, inset 0 0 5px 3px #354c56, inset 0 0 30px #22333b;
}

/* From Uiverse.io by abrahamcalsin */
.btnAnime {
  width: 150px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--bs-azul);
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  color: var(--bs-fondo);
}

.btnAnime:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    var(--bs-cafe_cla)
  );
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  color: #22333b;
}

.btnAnime:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btnAnime span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #090909;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btnAnime:hover span {
  color: #11171c;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
    color: #22333b;
  }
}

/* --> -------------- <-- */
